.btn_add		{background-image: url("../../images/application/application_add.png")!important;width:5px;}
.btn_del 		{background-image: url("../../images/application/application_delete.png")!important;width:5px;}
.btn_edit 	{background-image: url("../../images/application/application_edit.png")!important;width:5px;}
.btn_search 	{background-image: url("../../images/zoom/zoom.png")!important;width:5px;}