.list {
	border-bottom: 1px solid #aaaaaa;
	width: 100%;
}

.list .title1 {
	font-size: 16px;
	font-style: italic;
	height:36px;
}

.list .title2 {
	font-size: 16px;
	font-style: italic;
	height:36px;
}

.list .cell {
	min-width: 120px;
	max-width: 240px;
	height:26px;
	float: left;	
}

.spaner_head{
	height:10px;
}

.spaner_tail{
	height:10px;
	border-bottom: 1px dashed #eee;
}